#app {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 15vh;
}

.b{
    font-weight: bold;
}

.list{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.castle{
    box-shadow: inset 0 0 0 5px coral;
}

.blackdrop,.whitedrop{
    display: flex;
    flex-wrap: wrap;
}

.list:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.current, .options{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    flex: 1 0 20%;
    max-width: 25rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.zoom {
    font-size: 150%;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.back{
    border: none;
    background: rgb(118 62 255);
    color: white;
    font-weight: bold;
    padding: .3rem .6rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.turn{
    color: white;
    font-size: 70%;
    font-weight: bold;
    padding: .2rem .5rem;
    background: rgb(114, 39, 255);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    text-transform: uppercase;
}

.turn.black{
    background-color: black;
}

.turn.white{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
}

@media (max-width: 767px) {
    #app{
        flex-direction: column;
    }
}

table {
    border-collapse: collapse;
    text-align: center;
}

table thead th {
    line-height: 2.5;
}

table td {
    width: 52px;
    height: 52px;
    /* background: gray; */
    border: 1px solid gray;
    user-select: none;
    font-size: 200%;
}

.options>div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.options>div>div:nth-child(2){
    flex: 1 0 45%;
}
.options>div>div:nth-child(3){
    flex: 1 0 45%;
}

.select {
    box-shadow: inset 0 0 0 5px coral;
    z-index: 100;
}

.path{
    box-shadow: inset 0 0 0 5px red;
}

.attack{
    box-shadow: inset 0 0 0 5px blue;
}

.test{
    background-color: blue !important;
}

table td:hover {
    background-color: rgba(255, 127, 80, 0.5) !important;
}

tr:nth-child(odd)>td:nth-child(odd),
tr:nth-child(even)>td:nth-child(even) {
    background-color: gray
}