:root{
    --ch-size: 52px;
}

body{
    background: rgb(90, 90, 90);
}

table{
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    margin-top: 5em;
    font-size: 200%;
    font-weight: bold;
    user-select: none;
}

table thead{
    color: white;
}

table thead tr:not(:first-child){
    font-size: 60%;
}

table td{
    position: relative;
}

table td span{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

table td span:hover{
    box-shadow: inset 0 0 9999px rgba(255, 153, 153, 0.5);
    cursor: grab;
}

table td.move{
    box-shadow: inset 0 0 9999px rgba(255, 118, 100, 0.5) !important;
    cursor: pointer;
}

table td span.selected{
    border: 3px solid rgb(194, 106, 55);
    z-index: 100;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

td{
    width: var(--ch-size);
    height: var(--ch-size);
}

tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(200, 200, 200);
}
tr:nth-child(odd) td:nth-child(even){
    background-color: rgb(228, 228, 228);
}

tr:nth-child(even) td:nth-child(even){
    background-color: rgb(200, 200, 200);
}

tr:nth-child(even) td:nth-child(odd){
    background-color: rgb(228, 228, 228);
}

tr:nth-child(odd) td.vertical:nth-child(odd){
    background-color: rgb(150, 83, 44) !important;
}

tr:nth-child(even) td.vertical:nth-child(odd){
    background-color: rgb(194, 106, 55) !important;
}

tr:nth-child(odd) td.horizontal:nth-child(odd){
    background-color: rgb(150, 83, 44) !important;
}

tr:nth-child(odd) td.horizontal:nth-child(even){
    background-color: rgb(194, 106, 55) !important;
}